*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4dfb2;
}

.header {
  position: fixed;
  background-color: #dca228;
  width: 100%;
  color: white;
  text-align: center;
  height: 100px;
  z-index: 100;
  letter-spacing: .7em;
  font-family: 'Abril Fatface',cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}

h2 {
  text-align: center;
  font-family: 'Abril Fatface',cursive;
  font-size: 36px;
  letter-spacing: .05em;
}

h3 {
  font-size: 24px;
  font-family: 'Raleway',sans-serif;
}

.hover p {
  font-size: 20px;
  font-family: 'Raleway',sans-serif;
}

.map {
  background: url('../img/worldmap.jpg') no-repeat center;
  height: 79em;
  position: relative;
}

.image {
  width: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  border: 5px solid black
}

.hover {
    display: none;
    background-color: #f4dfb2;
    width: 400px;
    padding: 10px;
    z-index: 1000;
    border: 10px solid black;
    font-size: 16px;
    top: 0%;
    left: 0;
    position: absolute;
    border-radius: 5px;
}

.axolotl:hover + .hover,
.pygmy:hover + .hover,
.sandcat:hover + .hover,
.redpanda:hover + .hover,
.pika:hover + .hover,
.polarbear:hover + .hover,
.beluga:hover + .hover,
.monkseal:hover + .hover,
.flyingfox:hover + .hover,
.otter:hover + .hover
{
    display: block;
}

.axolotl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-400%, -100%);
}

.pygmy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(75%, -100%);
}

.sandcat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(300%, -200%);
}

.redpanda {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(500%, -300%);
}

.pika {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-400%, -200%);
}

.polarbear {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-450%, 500%);
}

.beluga {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, -300%);
}

.otter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, 200%);
}

.monkseal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-600%, 50%);
}

.flyingfox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(550%, 200%);
}
